RewriteEngine On
RewriteRule ^forgetpassword resetpass.php [NC]
RewriteRule ^login loginpage.php [NC]
RewriteRule ^signup registerpage.php [NC]
#RewriteRule ^reset reset.php [NC]
RewriteRule ^home index.php [NC]
RewriteRule ^logout logout.php [NC]
RewriteRule ^card card.php [NC]
RewriteRule ^trade trade.php [NC]
RewriteRule ^check deposit.php [NC]
RewriteRule ^addcard app/Apis/api.php [NC]
RewriteRule ^buysell buysell.php [NC]
RewriteRule ^verifypassword/([0-9a-zA-Z]+)$  changepasspage.php?token=$1 [NC]
RewriteRule ^verify/([0-9a-zA-Z]+)$ verify.php?token=$1 [NC,L]
